#navbar ul { 
    margin: 0; 
    padding: 15px; /* Set margin and padding for cross browser consistency. */ 
    list-style-type: none; 
    text-align: left; 
    background-color: #0772A1; 
    width: 30%;
}

#navbar ul li { 
    display: inline; /* Needed to create horizontal effect */ 
}

#navbar ul li a { 
text-decoration: none; 
padding: .2em 1em; /* Gives the link space inside it's individual block. */ 
background-color: #0772A1;
} 

.active a{
    color: #60B9CE;
}

.inactive a{
    color: #fff;
}


#sharelist{
    width: 800px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#sharelist li{ 
    float: left; 
    margin-right: 10px;
}

.cleanlist{ 
    margin: 0; 
    padding: 1px;
    list-style-type: none; 
    text-align: left; 
    margin-right: 20px;
    margin-left: 10px;
    width: 100px;
}

.user{
    cursor: pointer;
}

.resourceShareList{
    margin: 0; 
    padding: 1px;
    list-style-type: none; 
    margin-left: 10px;
    width: 100px;
    height: 80px;
    cursor: pointer;

    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-width: 50px;
    -moz-column-width: 50px;
    column-width: 50px;
}

.resourceUnmarked{
    color: #000;
    background-color: #fff;
}

.resourceMarked{
}

.resourceMarked:first-letter{
    font-weight: bold;
    color: #00CC00;
}

.sharebutton{
    background-color: #00CC00;
    color: #fff;
    cursor: pointer;
    margin-left: 11px;
    padding: 5px;
    display:inline-block;
}
