{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/create_group.js"></script>
    <style type="text/css" media="screen">
        background-color: #F00;
    </style>
{% endblock %}
{% block tab4 %}active{% endblock %}

{% block main %}
<div class='mainContainer'>
    <div class="ui-widget">
        <label for="username_input">Type the usernames you want to add here:</label>
        <input id="username_input" size="50"/>
    </div>

    <ol id="selected_users" class="cleanlist">
    </ol>

    Name your group:<input type="text" id="groupnameinput" placeholder="Name.."><br>
    <p id="groupbutton" class="actionbutton">Create</p>
    <p><i id="result"></i></p>
</div>
{% endblock %}

