{% extends "base.html" %}
{% block tab1 %}active{% endblock %}

{% block main %}
<form name="input" action="{% url 'account:upload' %}" method="post">
{% csrf_token %} 
Choose a file: <input type="text" name="resource" placeholder="Filename.." autofocus>
<input type="submit" value="Upload">
</form>

<p> -------------------------- </p>
{% for user in users %}
    <p>Groups for {{ user.username }}: </p>
    <ul>
    {% for group in users.groups.all %}
        <li>" {{ group.name }} "</li>
    {% endfor %}
    </ul>
{% endfor %}

<p>Resources: </p>
<ul>
{% for resource in resource_list %}
    <li> {{ resource.filename }} -- Belongs to {{resource.key.username}}</li>
{% endfor %}
</ul>
{% endblock %}
