{% extends "base.html" %}
{% block tab2 %}active{% endblock %}

{% block head %}
    {% load account_extras %}
    <link rel="stylesheet" href="{{ STATIC_URL }}videostyle.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/my_files.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/my_files.js"></script>
{% endblock %}

{% block main %}
<!-- Urls for javascript -->
<script>
    window.change_name_URL = '{% url 'account:change_name' %}';
    window.remove_resource_URL = '{% url 'account:remove_resource' %}';
</script>

<div class='sidebar'>
    <div class='videolist-menu'>
        <input type='text' id='searchfield' placeholder='Search..'>
        <i class='icon-search'></i>
        <span style='margin-right:10px;'></span>
        <div class='btn-group'>
            <div id='created_btn' class='btn btn-small btn-primary' >My uploads</div>
            <div id='shared_btn' class='btn btn-small btn-primary' >Shared uploads</div>
        </div>
    </div>
    <div class='padding'></div>
    <div id='videolist-container'>
    {% for group in resources|group_by:3 %}
        <div class="row">
            {% for resource in group %}
                <div class='span3'>
                {% if resource.is_shared %}
                    <div id='{{resource.disp_name}}'class='shared_resource'>
                {% else %}
                    <div id='{{resource.disp_name}}'class='created_resource'>
                {% endif %}
                        <div class='resource_storage'>{{ resource.disp_name }}</div>
                        <div class='row-fluid'>
                            <div class='span5'>
                                <a href='#' class='thumbnails'>
                                    <img src='{{ STATIC_URL }}media/scast.png' class='thumbnail'></img>
                                </a>
                            </div>
                            <div class='span7'>
                                <div class='link-container'>
                                    <span class='videolink'>{{ resource.disp_name }}</span>
                                    <span class="editbutton"><i class='icon-pencil'></i></span>
                                    <span class="removebutton"><i class='icon-remove'></i></span>
                                    <span class="errormsg"></span>
                                    <div class='ownedby'>by {{ resource.key }}</div>
                                    <div class='timestamp'>Added {{ resource.creation_timestamp|timesince }} ago</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='padding'></div>
    {% endfor %}
    </div>
</div>
{% endblock %}
