{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/sharetest.js"></script>
{% endblock %}
{% block tab2 %}active{% endblock %}

{% block main %}
<p>Groups for {{ user.username }}: </p>
<ul>
{% for group in user.groups.all %}
    <li>{{ group.name }}</li>
{% endfor %}
</ul>

<p>Resources: </p>
<div class="sharelist">
<form name="input" action="{% url 'account:share_add_users' %}" id="form-share" method="post">
<ul>
{% for resource in resource_list %}
    <li> 
    {% csrf_token %} 
    <input type="checkbox" name="files" > {{ resource.filename }}
    </li>
{% endfor %}
</ul>
<input type="submit" value="Add" class="form-submit-add">
</form>
</div>
<div class="input-message"></div>
<div class="loading"></div>
<div class="success"></div>
<div class="error"></div>
{% endblock %}

