@selected_color: #78FF66;
@some_selected_color: #FFD070;
@non_selected_color: #fff;

.rounded-corners(@radius: 2px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}
.box {
    .rounded-corners;
    padding: 2px;
    margin: 2px;
}
.list {
    list-style-type: none;
}
.column {
    min-height: 1px;
    text-align: left; 
    margin: 5px;
    width: 42%;
    padding: 5px;
    float: left;
    background-color: #b4b4b4;
}
.row {
    display: block;
    width: 80%;
    margin: 20px auto 30px auto;
    float: none;
    overflow: hidden;
}
.added_user {
    .box;
    background-color: @selected_color;
}
.non_added_user {
    .box;
    background-color: @non_selected_color;
}
.group_header {
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    font-weight: bold;
}
.all_selected_group {
    .box;
    background-color: @selected_color;
}
.some_selected_group {
    .box;
    background-color: @some_selected_color;
}
.none_selected_group {
    .box;
    background-color: @non_selected_color;
}
.ui-autocomplete-category {
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    font-weight: bold;
    background-color: #b4b4b4;
}
