.box {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
}
.box_drop_shadow {
  box-shadow: 1px 1px 0px #585858, 2px 2px 0px #585858, 3px 3px 0px #585858;
}
.list {
  list-style-type: none;
}
.list li {
  float: none;
}
.column {
  min-height: 1px;
  text-align: left;
  margin: 5px;
  width: 42%;
  padding: 5px;
  float: left;
  background-color: #bcbcbc;
}
.top_column {
  min-height: 1px;
  margin: 5px;
  width: 42%;
  float: left;
}
.row {
  display: block;
  margin: 10px auto 10px auto;
  float: none;
  overflow: hidden;
}
.added_user {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
  background-color: #9aff8c;
}
.non_added_user {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
  background-color: #ffffff;
}
.group_header {
  line-height: 1.5;
  font-weight: bold;
}
.all_selected_group {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
  background-color: #9aff8c;
}
.some_selected_group {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
  background-color: #ffd98c;
}
.none_selected_group {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
  background-color: #ffffff;
}
.ui-autocomplete-category {
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
  font-weight: bold;
  background-color: #bcbcbc;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: none !important;
  border: 2px solid #444 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.legend_box {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  float: left;
  display: inline;
  box-shadow: 0px 0px 45px #bcbcbc, 1px 1px 0px #bcbcbc, 2px 2px 0px #bcbcbc, 3px 3px 0px #bcbcbc;
  margin-top: 0px;
}
.select_button {
  background-color: #F2FFF2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #585858;
  color: #000;
  cursor: pointer;
  margin: 5px 10px 5px auto;
  padding: 5px;
  width: 5em;
  text-align: center;
}
#legend_list li {
  padding-bottom: 7px;
}
#username_input {
  width: 100%;
}
/*TODO: Make global */
#groupnameinput {
  margin-bottom: 0px;
  /* Align to button group */

  height: 26px;
  width: 150px;
  font-weight: bold;
  color: #000;
}
