.main{
    margin:1%;
}
/* Navigation bar */
#navbar ul { 
    margin: 0; 
    padding: 15px; /* Set margin and padding for cross browser consistency. */ 
    list-style-type: none; 
    text-align: left; 
    background-color: #0772A1; 
    width: 100%;
}

#navbar ul li { 
    display: inline; 
    margin: 20px;
    font-size: 15px;
}

#navbar ul li a { 
    text-decoration: none; 
    padding: .2em 1em; /* Gives the link space inside it's individual block. */ 
    background-color: #0772A1;
} 

.active a{
    color: #60B9CE;
}

.inactive a{
    color: #fff;
}
/* End navigation bar */

.mainContainer{
    width: 70%; /* Bör vara samma som navbar */
}
.upperContainer{
    height: 50%;
}
/* TODO: fixa klass för sharelist-grouplist */
#sharelist{
    width: 800px;
    margin-bottom: 30px;/ul>
    margin-top: 30px;
}

#sharelist li{ 
    float: left; 
    margin-right: 10px;
}

#grouplist{
    width: 100%;
    margin-bottom: 30px;/ul>
    margin-top: 30px;
}

#grouplist li{ 
    float: left; 
    margin-right: 10px;
}

.cleanlist{ 
    margin: 0; 
    padding: 1px;
    list-style-type: none; 
    text-align: left; 
    margin-right: 20px;
    margin-left: 10px;
    width: 100px;
}

#userlist.cleanlist{
    width: 50%;
    height: 400px;
    float:left;
}

#userlistProfile.cleanlist{
    width: 50%;
    height: 400px;
}

.user{
    cursor: pointer;
    color: #39AECF;
    font-weight: bold;
}

.group{
    color: #0772A1;
        cursor: pointer;
    font-weight: bold;
}

.resourceShareList{
    margin: 0; 
    padding: 1px;
    list-style-type: none; 
    margin-left: 10px;
    width: 100px;
    height: 80px;
    cursor: pointer;

    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-width: 50px;
    -moz-column-width: 50px;
    column-width: 50px;
}

.resourceUnmarked{
    color: #000;
    background-color: #fff;
}

.resourceMarked{
}

.resourceMarked:first-letter{
    font-weight: bold;
    color: #00CC00;
}

/* Video CSS */
#video-container {
	width: 640px;
	height: 365px;
	position: relative;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(3,113,168)),
		color-stop(1, rgb(0,136,204))
	);
}

#video-container:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

#seek-bar {
	width: 360px;
}

#volume-bar {
	width: 60px;
}
/* End Video CSS*/

.actionbutton{
    background-color: #00CC00;
    color: #fff;
    cursor: pointer;
    margin-left: 11px;
    padding: 5px;
    display:inline-block;
}

.viewbutton{
    margin-right: 4px;
}

.switchbutton{
}

#groupview ul{
    margin: 0; 
    padding: 1px;
    list-style-type: none; 
    text-align: left; 
    height: 370px; /* Bör vara samma som userlist.cleanlist */
}
#groupview{ 
    width: 50%;
    margin-left: 200px;
}

