.videolist-menu input {
  margin-bottom: 0px;
  /* Align to button group */

  height: 26px;
  width: 150px;
  font-weight: bold;
  color: #000;
}
.searchbox {
  font-weight: bold;
  color: #000;
}
#resourcelist {
  padding: 0;
  margin: 0;
  padding-top: 20px;
}
#resourcelist li {
  margin: 0;
}
.resource_storage {
  display: none;
}
#resourcesublist li {
  margin: 0px;
  padding: 0px;
}
#resourcelist-picture-text li {
  margin: 0;
  padding: 0;
}
.thumbnail {
  max-height: 80px;
}
#videolist-container {
  width: 40%;
}
.link {
  color: #0772a1;
  font-weight: bold;
  font-size: 16px;
}
.videolink {
  cursor: pointer;
  height: 20px;
  color: #0772a1;
  font-weight: bold;
  font-size: 16px;
}
.link-container {
  height: 20px;
}
.timestamp {
  font-weight: italic;
  font-size: 10px;
}
.editbutton {
  cursor: pointer;
}
input.editbox {
  width: 80px;
  margin-bottom: 0px !important;
  padding: 0px !important;
  outline: none;
  border: none !important;
  box-shadow: none !important;
  height: 18px;
  /* To fix the cutoff from letter g and j add 2 pixels */

  margin: 0px !important;
  vertical-align: baseline;
  color: #0772a1;
  font-weight: bold;
  font-size: 16px;
  color: #ff0000;
}
input.editbox:focus {
  margin: 0px !important;
  vertical-align: baseline;
  color: #0772a1;
  font-weight: bold;
  font-size: 16px;
}
